<div class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <br><hr>
    
    <a href="https://www.facebook.com/RobotLab.vn/" class="fa fa-facebook" ></a>
    <a href="https://www.youtube.com/channel/UCrGBzPlIS0tVWp5BZEx3E7g" class="fa fa-youtube"></a>
    <a href="https://www.tiktok.com/@robotlab.vn" class="fa fa-tiktok"></a>
    <a href="{{ site.footer_url }}" style="color: black">{{ site.footer_text }}</a>
</div>
