<div class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <br><hr>
    
    <a href="https://www.facebook.com/RobotLabX/" class="fa-brands fa-facebook fa-lg"></a>
    <a href="https://www.youtube.com/@RobotLabX" class="fa-brands fa-youtube fa-lg"></a>
    <a href="https://www.tiktok.com/@robotlabx.com" class="fa-brands fa-tiktok fa-lg"></a>
    <a href="{{ site.footer_url }}" style="color: black">{{ site.footer_text }}</a>
</div>
