<!-- <div class="fixed-topbar"> -->
<div class="navbar container">
      <a id="site-title" class="alignable pull-left"href="{{ site.url }}">{{ site.title }}</a>
      <br/>
      <p id="site-subtitle" class="alignable pull-left" >
        <a href="" title="Click to hear audio!"><img id="loudspeaker" src="/assets/loudspeaker-green.png" height="10" width="12"  onClick="document.getElementById('pronounciation').play(); return false;"></a>
        juh-NAY YANG
      </p>
    <ul id="navlist" class="alignable pull-right navbar-ul">
        {% for x in site.navbar %}
        <li class="alignable pull-left navbar-list">
          {% if x.name == "github" %}
              <a href="{{ x.link }}">{{ x.name }}</a>
          {% else %}
              <a href="{{ x.link }}">{{ x.name }}</a>
          {% endif %}
          {% if forloop.last == false %} {% endif %}
        </li>
        {% endfor %}
    </ul>

</div>
<div style="clear:both"></div>

<hr>
<!-- </div> -->

<audio id="pronounciation">
<source src="/assets/name.mp3" type="audio/mpeg">
</audio>
