<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="wrapper">
        {% include navbar.html %}
        {% if page.title %}
        <div class="page-title">
            {{page.title}}
        </div>
        {% endif %}
        <div class="container">
            <div class="content">
                {{ content }}
            </div>
            <div class="footer">
                {% include footer.html %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% include lightbox.html %}
    <script type="text/javascript" src="/js/site.js"></script>
    <script type="text/javascript" src="/js/gif-display.js"></script>
  </body>
</html>
